<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>List of Borrowers</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5">
        <h1>List of Borrowers</h1>
        <div class="table-responsive">
            <table class="table table-bordered table-striped">
                <thead class="thead-dark">
                    <tr>
                        <th>Borrower ID</th>
                        <th>Name</th>
                        <th>Contact Info</th>
                    </tr>
                </thead>
                <tbody>
                    {% for borrower in borrowers %}
                    <tr>
                        <td>{{ borrower.borrower_id }}</td>
                        <td>{{ borrower.borrower_name }}</td>
                        <td>{{ borrower.contact_info }}</td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="3">No borrowers available</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
